@charset "UTF-8";
.header-top {
  background-color: #2d3a99;
  padding: 0; }
  .header-top ul li a {
    padding-left: 15px;
    color: white;
    padding-right: 20px;
    padding-top: 9px;
    display: block;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase; }
  .header-top ul li:last-child label {
    color: #7e97e8; }
  .header-top ul li:last-child select {
    background: #2d3a99;
    border: none;
    color: white; }

.header .container-fluid {
  padding: 0; }

.header-bottom {
  padding-left: 17px;
  padding-top: 14px;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 2px; }
  .header-bottom ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header-bottom ul li span {
      color: #4c4c4c;
      font-family: Roboto;
      font-size: 25px;
      font-weight: 400; }
    .header-bottom ul li a {
      color: #ff5500;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 400;
      border-bottom: 1px dashed #ff5500;
      text-decoration: none;
      padding-top: 4px;
      display: block; }
    .header-bottom ul li .search {
      position: relative; }
      .header-bottom ul li .search:before {
        content: "";
        display: block;
        height: 70px;
        position: absolute;
        left: -20px;
        border-left: 1px solid #d0d0d0;
        top: -14px; }
      .header-bottom ul li .search input[type=search] {
        width: 300px;
        border: none;
        outline: none;
        position: relative; }
      .header-bottom ul li .search input[type=button] {
        position: relative;
        right: 0;
        top: 9px;
        width: 23px;
        cursor: pointer;
        border: none;
        outline: none;
        background: url(../../img/search-ico.png) left top 1px no-repeat; }
    .header-bottom ul li:first-child::before {
      content: "";
      display: inline-block;
      position: relative;
      top: 5px;
      width: 20px;
      height: 26px;
      background: url(../../img/numb.png) left top 1px no-repeat; }

nav {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  nav ul:first-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 700px; }
  nav ul:last-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 300px; }
    nav ul:last-child li {
      position: relative; }
    nav ul:last-child li:last-child::before {
      content: "";
      display: block;
      position: absolute;
      left: -36px;
      top: 21px;
      width: 23px;
      height: 23px;
      background: url(../../img/office-ico.png) left top 1px no-repeat; }
    nav ul:last-child li:first-child::before {
      content: "";
      display: block;
      position: absolute;
      left: -36px;
      top: 21px;
      width: 23px;
      height: 23px;
      background: url(../../img/help-ico.png) left top 1px no-repeat; }
    nav ul:last-child li a {
      color: #4c4c4c;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 400; }
  nav ul li a {
    padding-top: 23px;
    display: inline-block;
    color: #4c4c4c;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
    padding-bottom: 4px; }

.breadcrumb-holder {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400; }
  .breadcrumb-holder a {
    color: white; }

.header .container-fluid.ssda {
  padding-right: 15px;
  padding-left: 15px; }

footer {
  background-color: #4c4c4c;
  color: #cccccc;
  padding-top: 80px;
  padding-bottom: 64px;
  font-family: Roboto; }
  footer a {
    color: #cccccc; }
  footer h4 {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px; }
  footer .number {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase; }
    footer .number div {
      font-size: 25px;
      font-weight: 400;
      margin-top: 7px; }
  footer ul {
    max-width: 165px;
    margin-bottom: 50px; }
    footer ul li a {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
      line-height: 25px;
      text-decoration: none; }
  footer .contacts {
    margin-bottom: 20px; }
  footer .copyright, footer .site {
    font-size: 13px; }

body {
  background-color: #fff;
  font-size: 14px; }

ul {
  padding: 0;
  list-style: none; }
  ul li {
    display: inline-block; }
    ul li a {
      text-decoration: none; }

*,
*:before,
*:after {
  box-sizing: border-box; }

section {
  overflow: hidden; }

.dropdown-list {
  margin: 10px;
  padding: 10px;
  border: 2px solid purple;
  width: 200px;
  border-radius: 5px; }

.header-top {
  overflow: hidden; }
  .header-top ul {
    padding: 0; }
    .header-top ul li {
      list-style: none;
      display: inline-block;
      float: left; }
      .header-top ul li:last-child {
        float: right; }

div:hover > ul > li:hover > a, div:focus > ul > li:focus > a {
  color: red; }

/****************************************************/
.asucla-product-variants select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 10em;
  padding: 0.3em;
  margin: 0;
  border: none;
  border-radius: 0.4em;
  background-color: none;
  color: black;
  outline: none;
  display: inline-block;
  cursor: pointer; }

.asucla-product-variants {
  position: relative; }

.asucla-product-variants:after {
  content: "▼";
  font-family: FontAwesome;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: white;
  text-decoration: none;
  position: relative;
  right: 1.1em;
  pointer-events: none; }

.row {
  margin-right: 0 !important; }

.angled-breadcrumbs li::after {
  content: '/';
  font-size: 14px;
  position: relative;
  color: white; }

.angled-breadcrumbs li:last-child::after {
  content: ' '; }

main .first-block {
  color: white;
  position: relative;
  padding-top: 90px;
  padding-left: 45px; }
  main .first-block > a {
    width: 120px;
    height: 40px;
    border-radius: 3px;
    background-color: #2d3a99;
    padding: 7px 18px;
    margin-top: 45px;
    display: block;
    color: white; }
  main .first-block h1 {
    font-size: 31px;
    padding: 38px 0 38px;
    line-height: 50px;
    font-family: "Roboto";
    font-weight: 700;
    text-transform: uppercase; }

main .first-block::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -236px;
  top: 0;
  width: 148%;
  display: block;
  height: 500px;
  background: url("../img/orange-bubl.png") no-repeat; }

main img.photo1 {
  position: relative;
  z-index: -2;
  left: -107px; }

main .col-lg-6 {
  padding: 0; }

main .post-info {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  main .post-info li::after {
    content: '  |  ';
    font-size: 20px;
    position: relative;
    right: -40px;
    color: #ff8a47; }
  main .post-info li:last-child::after {
    content: ""; }
  main .post-info li a {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase; }

section.info .row .col-lg-4:nth-child(2n+2) {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }

section.info .time {
  color: #ff5500;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase; }

section.info .name-ivent {
  color: #4c4c4c;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400; }

section.info .program .name-ivent1 {
  margin-bottom: 40px;
  display: inline-block; }

section.info .program .time1 {
  margin-top: 50px; }

section.info .program .details {
  color: #3e3956;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400; }
  section.info .program .details li:before {
    content: "•";
    color: #ff5500;
    position: relative;
    top: 7px;
    font-size: 35px;
    line-height: 1; }

section.info h3 {
  color: #4c4c4c;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 34px; }

.info-lector > a {
  width: 62px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  border-bottom: 1px dashed #ff5500;
  text-decoration: none;
  padding-top: 4px;
  display: block;
  color: #ff5d00; }

.info-lector .address {
  color: #4c4c4c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  max-width: 195px;
  margin-bottom: 15px;
  display: block; }

.info-lector .more-info-lector {
  margin-top: 30px;
  display: inline-block;
  color: #4c4c4c;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 71px; }

.info-lector .lector-photo {
  overflow: hidden; }
  .info-lector .lector-photo img {
    float: left; }
  .info-lector .lector-photo .name-lector {
    float: right;
    color: #4d4d4d;
    font-family: Roboto;
    height: 70px;
    font-size: 17px;
    padding-top: 5px;
    display: block;
    max-width: 250px;
    font-weight: 400; }

.price-info .stock {
  padding-top: 60px; }
  .price-info .stock > a {
    display: block;
    color: #ff5d00;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px; }
  .price-info .stock > .blue {
    color: #2d3a99;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase; }
  .price-info .stock h2 {
    color: #ff5500;
    font-family: "Roboto";
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26px; }
  .price-info .stock .more-info-stock {
    color: #4c4c4c;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400; }

.price-info .price {
  color: #ff5500;
  font-family: "Roboto";
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px; }

.price-info > a {
  display: block;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  background-color: #2d3a99;
  padding: 10px 18px;
  margin-top: 47px;
  margin-bottom: 60px;
  display: block;
  color: white;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase; }

.program-info, .info-lector, .price-info {
  padding: 60px 30px; }

.enroll .container-fluid {
  padding-right: 0; }

.enroll .img img {
  position: relative;
  z-index: -2;
  left: -222px; }

.enroll .form {
  color: white;
  position: relative;
  padding-top: 90px;
  padding-left: 45px; }
  .enroll .form .info-form {
    color: #527ecc;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 30px;
    padding-top: 0;
    max-width: 220px;
    position: absolute;
    right: 10px;
    top: 130px; }
  .enroll .form form {
    font-family: Roboto; }
    .enroll .form form div {
      color: #527ecc;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 35px; }
    .enroll .form form label {
      display: block;
      color: #527ecc;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 10px; }
    .enroll .form form input {
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid;
      color: #f2f2f2;
      font-size: 25px;
      font-weight: 300; }
    .enroll .form form input[type=submit] {
      margin-bottom: 5px;
      border: none;
      min-width: 120px;
      height: 40px;
      border-radius: 3px;
      background-color: #ff5500;
      float: left;
      margin-top: 15px;
      font-family: Roboto;
      font-size: 13px;
      cursor: pointer;
      font-weight: 700;
      text-transform: uppercase; }
  .enroll .form h4 {
    color: #f2f2f2;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px; }

.enroll .form::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 120%;
  display: block;
  height: 571px;
  background: url("../img/blue-bubl.png") no-repeat; }

.secminars {
  padding-top: 90px;
  padding-bottom: 40px; }
  .secminars h2 {
    color: #4c4c4c;
    margin-bottom: 31px;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 400; }
  .secminars .owl-carousel1 .owl-nav {
    position: absolute;
    right: 0;
    top: -60px; }
    .secminars .owl-carousel1 .owl-nav .owl-prev {
      display: inline-block;
      border: 1px solid #ff5500;
      border-radius: 34px;
      width: 35px;
      height: 35px;
      padding: 0 9px;
      font-size: 20px;
      color: #ff5500; }
      .secminars .owl-carousel1 .owl-nav .owl-prev:hover, .secminars .owl-carousel1 .owl-nav .owl-prev:focus {
        color: white;
        background-color: #ff5500; }
    .secminars .owl-carousel1 .owl-nav .owl-next {
      display: inline-block;
      border: 1px solid #ff5500;
      border-radius: 34px;
      width: 35px;
      height: 35px;
      padding: 0 11px;
      font-size: 20px;
      color: #ff5500;
      margin-left: 10px; }
      .secminars .owl-carousel1 .owl-nav .owl-next:hover, .secminars .owl-carousel1 .owl-nav .owl-next:focus {
        color: white;
        background-color: #ff5500; }

.reviews {
  padding-bottom: 75px; }
  .reviews h2 {
    margin-top: 40px;
    margin-bottom: 33px;
    color: #4c4c4c;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 400; }
  .reviews .owl-carousel2 .owl-nav {
    position: absolute;
    right: 0;
    top: -60px; }
    .reviews .owl-carousel2 .owl-nav .owl-prev {
      display: inline-block;
      border: 1px solid #ff5500;
      border-radius: 34px;
      width: 35px;
      height: 35px;
      padding: 0 9px;
      font-size: 20px;
      color: #ff5500; }
      .reviews .owl-carousel2 .owl-nav .owl-prev:hover, .reviews .owl-carousel2 .owl-nav .owl-prev:focus {
        color: white;
        background-color: #ff5500; }
    .reviews .owl-carousel2 .owl-nav .owl-next {
      display: inline-block;
      border: 1px solid #ff5500;
      border-radius: 34px;
      width: 35px;
      height: 35px;
      padding: 0 11px;
      font-size: 20px;
      color: #ff5500;
      margin-left: 10px; }
      .reviews .owl-carousel2 .owl-nav .owl-next:hover, .reviews .owl-carousel2 .owl-nav .owl-next:focus {
        color: white;
        background-color: #ff5500; }
  .reviews .owl-carousel2 .owl-item img {
    width: auto;
    margin-bottom: 25px; }
  .reviews .owl-carousel2 .item {
    border: 1px solid #cccccc;
    padding: 30px;
    min-height: 410px; }
    .reviews .owl-carousel2 .item .comment {
      color: #4c4c4c;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px; }
    .reviews .owl-carousel2 .item .commentator {
      position: absolute;
      bottom: 30px;
      color: #4c4c4c;
      font-family: Roboto;
      font-size: 15px;
      line-height: 25px;
      font-weight: 400; }
      .reviews .owl-carousel2 .item .commentator .position {
        font-style: italic; }
        .reviews .owl-carousel2 .item .commentator .position span {
          color: #ff5500; }

.others-seminars {
  padding-top: 68px;
  padding-bottom: 71px;
  background-color: #d8d8d8; }
  .others-seminars h2 {
    margin-bottom: 15px; }
  .others-seminars .name-other {
    color: #2d3a99;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase; }
  .others-seminars .seminar1:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: url("../../img/voice-rec-ico.png") no-repeat center; }
  .others-seminars .seminar2:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: url("../../img/video-ico.png") no-repeat center; }
  .others-seminars .seminar1, .others-seminars .seminar2 {
    padding: 10px 30px;
    margin: 15px;
    background-color: white;
    min-height: 300px; }
    .others-seminars .seminar1 h3, .others-seminars .seminar2 h3 {
      color: #4c4c4c;
      margin-bottom: 128px;
      font-family: Roboto;
      font-size: 22px;
      font-weight: 400; }
    .others-seminars .seminar1 ul, .others-seminars .seminar2 ul {
      margin-bottom: 0; }
      .others-seminars .seminar1 ul li, .others-seminars .seminar2 ul li {
        color: #ff5500;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        min-width: 148px; }
        .others-seminars .seminar1 ul li div, .others-seminars .seminar2 ul li div {
          color: #4c4c4c; }
    .others-seminars .seminar1 .discount, .others-seminars .seminar2 .discount {
      position: absolute;
      top: 35px;
      right: 15px;
      padding-right: 12px;
      padding-left: 10px;
      color: #ffffff;
      font-family: "Roboto";
      font-size: 11px;
      font-weight: 700;
      line-height: 18px;
      padding-top: 2px;
      text-transform: uppercase;
      background-color: #393185; }
      .others-seminars .seminar1 .discount:before, .others-seminars .seminar2 .discount:before {
        content: ' ';
        height: 0;
        left: -13px;
        top: 0;
        position: absolute;
        border-top: 10px solid #393185;
        border-left: 13px solid transparent; }
      .others-seminars .seminar1 .discount:after, .others-seminars .seminar2 .discount:after {
        content: ' ';
        left: -13px;
        top: 10px;
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 10px solid #393185;
        border-left: 13px solid transparent; }

.DivWithScroll {
  height: 803px;
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #cccccc; }
