@media (max-width: 1200px) {
    footer .number div {
        font-size: 22px;
        font-weight: 400;
        margin-top: 7px
    }
    .header-bottom ul {
        margin-bottom: 21px
    }
    .header-bottom ul li span, .header-bottom ul li a {
        display: none
    }
    .header-bottom ul li:first-child::before {
        display: none
    }
    .others-seminars .seminar1, .others-seminars .seminar2 {
        min-height: 345px
    }
}
@media (max-width: 1075px) {
    .enroll .form .info-form {
        display: none
    }
}
@media (max-width: 992px) {
    footer .number div {
        font-size: 18px;
        font-weight: 400;
        margin-top: 7px
    }
    .secminars h2 {
        font-size: 30px
    }
    section.info .row {
        -ms-flex-pack: center;
        justify-content: center
    }
    .bottom-footer .row > div {
        margin-bottom: 25px
    }
    .bottom-footer .row > div > * {
        display: block;
        text-align: center
    }
    .enroll .form {
        padding-bottom: 45px
    }
    .enroll .form h4 {
        text-align: center;
        margin: 0 auto
    }
    .enroll .img {
        display: none
    }
    .enroll .form::before {
        width: 105%
    }
    .enroll .form form {
        margin: 0 auto
    }
    .enroll .form form > * {
        text-align: center
    }
    .enroll .form form input[type=text], .enroll .form form input[type=email], .enroll .form form input[type=submit] {
        display: block;
        margin: 0 auto;
        float: none
    }
    main img.photo1 {
        display: none
    }
    main .first-block::before {
        left: 0;
        width: 108%
    }
    main .first-block {
        padding-top: 70px;
        padding-bottom: 40px
    }
    nav ul:first-child {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        max-width: inherit
    }
}
@media (max-width: 768px) {
    section.info .row .col-lg-4:nth-child(2n+2) {
        border-left: none;
        border-right: none
    }
    .header-top ul li:last-child {
        display: block;
        width: 100%;
        text-align: center
    }
    .header-bottom ul li .search:before {
        display: none
    }
}
@media (max-width: 575px) {
    .header-bottom ul .search {
        display: none
    }
    .header-bottom .col-lg-2 a {
        display: block;
        margin: 0 auto;
        text-align: center
    }
}
@media (max-width: 1085px) {
    nav ul:first-child {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        max-width: inherit
    }
    nav ul:last-child {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-around;
        width: 100%
    }
}
